#hero {
  position: relative;
}

#hero img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

#hero .hero-content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: #fff;
  width: 50vw;
}
#hero .hero-content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: #fff;
  width: 50vw;
}

#hero .photo-label{
  text-align: end;
  margin-right: 2em;
  font-size: 0.6rem;
  font-weight: 500;
  opacity: .8;
}

#hero .hero-content p.info{
  line-height: 1.5rem;
  font-size: 1rem;
}

#hero .hero-content .cta{
  margin-top: 1em;
}

@media (max-width: 768px) {
  #hero .container {
    width: 100vw;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
  }
}
