header {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding: 1em 2em;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  position: fixed;
}

header ul li {
  display: inline-block;
}

header ul li:not(:last-child) {
  margin-right: 1em;
}

.menu-toggle {
  display: block;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: var(--brand-color);
  margin: 5px 0;
}


header.scrolled{
  background-color: #191919ba;
}

@media (max-width: 768px) {
  header {
    padding: 1em;
  }

  header .wrap-logo{
    width: 30px;
    overflow: hidden;
  }
  ul {
    display: flex;
    flex-direction: column;
  }

  header ul li:first-child {
    margin-right: 0;
  }

  li a {
    padding: 1em;
  }
}
