footer {
  background-color: #222222;
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

footer img {
  width: 180px;
}

footer a:hover {
  color: #4a5f57;
}

footer .wrap-col {
  display: flex;
  gap: 1em;
}

footer .wrap-col .col {
  padding: 0 2em;
}

footer .wrap-col .col h4 {
  margin-bottom: 0.8em;
}

footer nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

footer nav ul li a {
  color: #fff;
  font-weight: 500;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }

  footer img {
    margin: 0 auto 1.2em;
  }

  footer .wrap-col {
    justify-content: space-between;
  }

  footer .wrap-col .col {
    padding: 0;
  }

  footer nav ul {
    align-items: flex-start;
    gap: 0.5em;
  }

  footer nav ul {
    align-items: flex-start;
    gap: 0.5em;
  }

  footer nav ul li a {
    padding: 0;
  }

  footer nav ul li a:where(:visited, :active) {
    color: #fff;
  }
}
