* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 18px;
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
  font-weight: 800;
  color: #4a5f57;
}

a:where(:visited, :active){
  color: #4a5f57;
}

a:hover{
  color: #1d2824;
}

h2{
  font-size: 3rem;
}

h3{
  font-size: 2rem;
}

p{
  font-size: 1rem;
}

@media (max-width: 768px) {
  html{
    font-size: 16px;
  }

}